[submodule "rocketsound-groundstation-gui"]
	path = rocketsound-groundstation-gui
	url = https://github.com/jvpichowski/rocketsound-groundstation-gui
[submodule "rocketsound-firmware"]
	path = rocketsound-firmware
	url = https://github.com/jvpichowski/rocketsound-firmware
[submodule "rocketsound-groundstation"]
	path = rocketsound-groundstation
	url = https://github.com/jvpichowski/rocketsound-groundstation
